.container {
    position: absolute;
    width: 75%;
    height: 65rem;
    left: 17rem;
    top: 18.4rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &__form-contacts{
        flex-basis : 60%;
        position: relative;
        background-color: $color-secondary;
    }
    &__current-user{
        flex-basis : 40%;
        background-color:  rgba(174, 228, 152, 0.5);
        position: relative;
    }
}

.user {
    position: absolute;
    top: 9.5rem;
    left: 12rem;
    width: 40.8rem;
    height: 51.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &__img {
        border-radius: 25rem;
        height: 25rem;
        width: 25rem;
    }
    &__name,&__contacts {
        font-family: Roboto;
        font-style: normal; 
        font-weight: normal;
        font-size: 3.6rem;
        line-height: 4.2rem;
    }
}